.selects{
    min-width: 600px;
    text-align: center;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 8px;
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
   
 
}
@media (max-width: 676px) {
    .selects{
        min-width: 200%;
    }
}