

 .container {
  position: relative; 
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
}

.container img {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  transition: bottom 2s ease-in-out;
}

.container img.active {
  bottom: 0;
  z-index: 2;
}

.container img.previous {
  bottom:0;
  z-index: 1;
  transition: bottom 2s ease-in-out 2s;
}
.sation{
  background-image: url('../imgWed/pngtree-a-rack-of-fashionable-attire-hanging-in-3d-on-pastel-beige-image_3749199.jpg');
  background-size:cover;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: start;
}
.sation2{
  cursor: pointer;
}
.info , .info1 ,.info2 ,.info3{
  font-family: "Edu AU VIC WA NT Hand";
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 20px;
  padding: 15px;
}
.info {
  bottom: 20%;
  left: 10%;
  color: rgb(255, 0, 162);

}
.info1{
  top: 10%;
  right: 10%;
  color: black; 

}
.info2 ,.info3{
  bottom: 20%;
  right: 10%;
}
