/* style for ar */
.car{
    margin-right: 10px;
}
.rghit{
    width: 50px;
}
.plath{
    text-align: end;
}
.drob{
    text-align: start;
}
.card{
   margin-right: 13px;
   
}
.log{
    margin-right: 20px;
    margin-left: 20px;
}
